<div class="container">
    <app-navbar></app-navbar>
    <div class="grid">
        <div class="lft-spc">

        </div>


        <div class="main">


            <div class="svg">
                <h1 class="hed">
                    Do things you love!
                </h1>
                <img class="career-svg" src="assets/SVG/Career/career-svg.svg">

            </div>

            <div class="wh-right">
                <h2 class="sub-hed">Is Wildherbs the right place for you?</h2>
                <p class="text-par">if you have a lot of energy, passion and love for latest technologies, you get to enjoy the pure bliss of being in a tribe of like-minded people and you will love working with us.</p>

                <p class="text-par">At Wildherbs Technologies, we are creating an ecosystem where smart people like you can come together and do things they love, while supporting us build awesome technology products that change the way people live. If this prospect inspires
                    you, feel free to dropby our office for a walk-in interview (on working days between 9 to 5) or shoot us your resume to hello@wildherbstechnologies.com . Act now and don’t miss the bus!</p>
            </div>

            <!-- <div class="ilead">
                <div class="i i1">
                    <div class="ilet">

                        <h1>I</h1>
                    </div>
                    <div class="hid">
                        <span class="hover-cap">I</span><br> Integrity
                        <br>
                        <p class="hover-par">Do the right thing always.</p>
                    </div>
                </div>
                <div class="i i2">
                    <div class="ilet">
                        <h1>L</h1>
                    </div>
                    <div class="hid">
                        <span class="hover-cap">L</span>
                        <br> Learn something today.
                        <br>
                        <p class="hover-par">Have a 'constant learning mindset</p>
                    </div>
                </div>
                <div class="i i2">
                    <div class="ilet">
                        <h1>E</h1>
                    </div>
                    <div class="hid">
                        <span class="hover-cap">E</span>
                        <br> Excellence
                        <br>
                        <p class="hover-par">Strive for excellence in everything you do.</p>
                    </div>
                </div>
                <div class="i i2">
                    <div class="ilet">
                        <h1>A</h1>
                    </div>
                    <div class="hid">
                        <span class="hover-cap">A</span>
                        <br> Action - Oriented
                        <br>
                        <p class="hover-par">Take action. Take your first step now.</p>
                    </div>
                </div>
                <div class="i i2">
                    <div class="ilet">
                        <h1>D</h1>
                    </div>
                    <div class="hid">
                        <span class="hover-cap">D</span>
                        <br> Deliver above & beyond.
                        <br>
                        <p class="hover-par">Delight our clients by delivering beyond commitments.</p>
                    </div>
                </div>

            </div> -->


            <div class="opn-roles">
                <h1 class="hed">
                    Opening roles
                </h1>

                <!-- COLLAPSE -->


                <div class="job-list">

                    <div class="collapse">
                        <div>
                            <div style="float:right;" id="shw" class="circle-plus closed ">
                                <div class="circle  ">
                                    <div class="horizontal"></div>
                                    <div class="vertical"></div>
                                </div>
                            </div>
                            <h3 class="eng">Engineering</h3>

                            <h2 class="text-par">AI Programmer</h2>
                            <div class="underline" id="underline1"></div>
                        </div>
                        <!-- TRY -->
                        <div id="des" class="content">
                            <p class="text-par">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br> Ipsum labore
                                erat lorem elitr sed diam. Stet dolore sed amet ea eirmod. Dolor amet invidunt takimata lorem sanctus et invidunt est. Consetetur no diam no et lorem sed sit, dolor aliquyam ea sadipscing sit accusam dolor consetetur at,
                                eos gubergren dolor sit clita magna dolore, duo nonumy invidunt lorem ea eirmod ipsum kasd consetetur,. ea commodo consequat. No invidunt at takimata dolor ea labore gubergren. Sea dolore gubergren amet et lorem sadipscing,
                                amet et vero takimata stet. Sed aliquyam justo sanctus at elitr, amet lorem diam sit sit. Magna et magna ut sed rebum no, lorem diam stet dolore labore sit kasd sea at duo. Sadipscing dolore amet kasd justo. Elitr kasd
                                aliquyam diam clita, takimata sit magna diam sanctus eos sit et vero, tempor dolores no erat diam eos, lorem nonumy ipsum et consetetur kasd diam labore. Takimata amet no amet elitr dolor tempor stet labore, takimata nonumy
                                rebum dolore lorem ut. Rebum kasd amet vero sit duo duo sit accusam, elitr sanctus est voluptua takimata sea,.</p>

                        </div>
                        <!-- NDTRY -->
                    </div>



                    <!-- END COLLAPSE -->


                    <!-- COLLAPSE -->




                    <div class="collapse">
                        <div>
                            <div style="float:right;" id="shw2" class="circle-plus closed ">
                                <div class="circle  ">
                                    <div class="horizontal"></div>
                                    <div class="vertical"></div>
                                </div>
                            </div>
                            <h3 class="dev">Developer</h3>

                            <h2 class="text-par">iOS Developer</h2>
                            <div class="underline" id="underline2"></div>
                        </div>
                        <!-- TRY -->
                        <div id="des2" class="content">
                            <div class="text-par">
                                <p> We are looking for iOS developers who possess strong knowledge and experience in mobile app development, preferably, in an Open Source environment. You will be joining a dynamic team based in Cochin.
                                </p>
                                <p> To be considered for this role, you must be an enthusiastic developer who is passionate about technology, loves to learn and is self-motivated to grow his / her skills in the field.

                                    <p><b>Responsible:</b>
                                        <p>
                                            <p>uild applications for the iOS platform Collaborate with cross-functional teams to define, design, and ship new features. Unit-test code for robustness, work on bug fixing and improving application performance.
                                                Contribute to consistently improve in-house development systems and processes. Continuously discover, evaluate, and implement new technologies to maximize development efficiency.
                                            </p>
                                            <p><b> Required skills: </b></p>
                                            <p> B.E/B.Tech degree At least 02 years experience in building iOS applications. Solid understanding of the full mobile development life cycle. Should be well accustomed to the iOS framework and application development.
                                                In-depth knowledge of iOS SDK, including different versions. In-depth knowledge of UI design principles, patterns, and best practices. Ability to work independently on technologically challenging requirements.
                                                Knowledge of Data Structures and Algorithms is a plus. Experience with Systems Architecture and Source Code. Experience with third-party libraries and APIs. Familiarity with cloud message APIs and push notifications.
                                                Must have deployed & released atleast on App in App store.</p>

                                            Send your resume to : hello@wildherbstechnologies.com </div>
                        </div>
                        <!-- NDTRY -->
                    </div>

                </div>

                <!-- END COLLAPSE -->




            </div>




            <div class="rgt-spc">

            </div>




        </div>


    </div>
</div>
<app-footer></app-footer>