.grid {
    display: grid;
    grid-template-columns: repeat(3, 10% 80% 10%);
}

.main {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.svg {
    float: left;
}

.career-svg {
    width: 100%;
    height: 500px;
    float: left;
}

.hed {
    color: #f7444e;
}

h3,
h2 {
    font-family: NexaRegular;
    ;
}

.eng {
    color: #4F3BA5;
}

.dev {
    color: #3daea7;
}

.ai {
    color: rgb(104, 202, 231);
}

//  COLLAPSE
.collapsible {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #fff;
}

.content {
    // padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
    //border-bottom:1px solid #f2f2f2;
}

// END COLLAPSE
// PLUS
.closed {
    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
    }
    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
    }
}

.opened {
    opacity: 1;
    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
    }
    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }
}

.circle-plus {
    height: 4em;
    width: 4em;
    font-size: 1em;
    opacity: .7;
}

.circle-plus .circle {
    position: relative;
    width: 2.55em;
    height: 2.5em;
    border-radius: 100%;
    //border: solid .5em #DFDAD7;
}

.circle-plus .circle .horizontal {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 5px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2.5px;
}

.circle-plus .circle .vertical {
    position: absolute;
    background-color: red;
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
}

h2,
h3 {
    margin-block-end: 0 !important;
}

.job-list {
    margin-top: 33px;
    margin-bottom: 55px;
}

.underline {
    border-bottom: 1px solid #3daea7;
    padding-bottom: 11px;
}

b {
    font-weight: bolder;
}

//  ILEAD
.ilead {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-top: 22px;
    margin-bottom: 22px;
    font-family: NexaBold;
    color: #002c3e;
}

.i {
    display: flex;
    justify-content: center;
    border: 1px solid #ebebeb;
    font-size: 33px;
    padding-top: 3px;
}

.i1 {
    background: #002c3e !important;
    color: #fff !important;
    border: 1px solid #002c3e !important;
}

.hid {
    display: none;
}

.i1:hover,
.i2:hover {
    // TRY
    box-shadow: 3px 3px 5px #002c3e;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    background: #fff;
    // END TRY
    .hid {
        margin-top: 15px;
        display: block;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }
    .hover-par {
        font-size: 12px;
    }
    .ilet {
        display: none;
    }
    .hover-cap {
        font-size: 44px !important;
    }
}

.hed {
    font-family: NexaBold !important;
}