<div class="container">
    <div class="up-nav">
        <app-navbar></app-navbar>

    </div>
    <div class="grid">

        <div class="lft-spc"></div>
        <div class="main">

            <h1 class="hed">A great team to work with</h1>

            <p class="sub-hed sub-hed2">
                Beyond technology, we are passionate about the industries we serve..
            </p>
            <p class="text-par ">Our technology products are reverse-engineered to take care of each vital customer touch points & to enhance your customer experience every day. Our way of working with clients mixes the efficiency of a powerful technology provider with the
                reassurance of industry focussed innovation that drives exceptional business for our clients.</p>




            <div class="abt-wh">
                <p class="sub-hed2">
                    About Wildherbs Technologies
                </p>
                <p class="text-par ">
                    WildHerbs Technologies is a start-up focused on embracing innovation and creativity. Through our development centre in Cochin, India, we serve clients across Qatar, Singapore and India. Our team of professionals passionate about technology work with a
                    mission to deliver solutions that surpass our client expectations every single day.
                    <br> Whether it is a simple web development, a multi platform mobile application, highly intelligent chatbot or a full fledged AI/ML project, we are your perfect partner who goes an extra mile to ensure that the project fulfils your
                    business objectives in the best possible manner.
                </p>


                <!-- LOCATION SVG -->
                <div class="location">
                    <div class="india">
                        <img class="locationsvg" src="assets/SVG/Aboutus/india.svg">
                        <h3 class="names loc">India</h3>

                    </div>
                    <div class="singa">
                        <img class="locationsvg" src="assets/SVG/Aboutus/singapore.svg">
                        <h3 class="names loc">Singapore</h3>
                    </div>
                    <div class="qatar">
                        <img class="locationsvg" src="assets/SVG/Aboutus/qatar.svg">
                        <h3 class="names loc">Qatar</h3>

                    </div>

                </div>
                <!-- END LOCATION SVG -->


            </div>



            <div class="fancy-form">
                <div id="form-box">
                    <i id="prev-btn" class="fas fa-arrow-left"></i>
                    <i id="next-btn" class="fas fa-arrow-right"></i>
                    <div id="input-group">
                        <input id="input-field" required>
                        <label id="input-label"></label>
                        <div id="input-progress"></div>
                    </div>
                    <div id="progress-bar"></div>
                </div>
            </div>

        </div>
        <div class="lft-spc"></div>

    </div>
</div>