<nav>
    <div class="logo">
        <a href="/"> <img class="wh-logo" src="assets/logo.png"></a>
        <a href="/"> <img class="wh-logo" src="assets/logo-dark.png"></a>


    </div>
    <div class="hamburger">
        <div class="wrapper-menu">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="careers">Career</a></li>
            <li><a href="about-us">About us</a></li>
            <li><a href="#">Request a demo</a></li>
        </ul>
        <div class="social-icons">
            <img src="assets/SVG/Social-media-icons/linkedin.svg">
            <img src="assets/SVG/Social-media-icons/facebook.svg">
            <img src="assets/SVG/Social-media-icons/instagram.svg">

        </div>



    </div>


</nav>